/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 400;
   font-display: block;
   src: url(fonts/NotoSansJP-Regular.woff2) format('woff2'),
        url(fonts/NotoSansJP-Regular.woff) format('woff'),
        url(fonts/NotoSansJP-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 700;
   font-display: block;
   src: url(fonts/NotoSansJP-Bold.woff2) format('woff2'),
        url(fonts/NotoSansJP-Bold.woff) format('woff'),
        url(fonts/NotoSansJP-Bold.otf) format('opentype');
 }
