/* ********************
  ボックス
******************** */
.box {
  width: 580px;
  margin: 10px auto;
}
/* ********************
  枠組み
******************** */
.box-table {
  border: solid 3px rgba(149,204,255,1);
  border-radius: 8px;
  margin: 32px 0;
  padding: 8px 16px;
  position: relative;
}
.box-title {
  background: rgba(255,255,255,1);
  color: rgba(149,204,255,1);
  display: inline-block;
  font-size: 1.188em;
  font-weight: bold;
  left: 10px;
  line-height: 1;
  padding: 0 9px;
  position: absolute;
  top: -13px;
}
.box-table table {
  width: 100%;
}
.box-table table td {
  padding: 10px;
  vertical-align: top;
}
.box-table table td:first-child {
  width: 140px;
}
/* ********************
  オーバーレイ
******************** */
.overlay {
  background: rgba(255,255,255,1);
  top: 25px;
  width: 100%;
  height: calc(100vh - 25px);
  position: fixed;
  display: none;
  opacity: 0;
  z-index: -1;
}
.overlay.show {
  display: block;
  z-index: 1;
  opacity: 1;
  animation-duration: 0.5s;
  animation-name: fade-in;
}
.overlay.hide {
  display: block;
  z-index: -1;
  opacity: 0;
  animation-duration: 0.5s;
  animation-name: fade-out;
}
.overlay > div:first-child {
  height: calc(100vh - 96px);
  overflow-y: scroll;
}
.overlay > div:last-child {
  box-shadow: -4px 0 6px #4A5459;
  -webkit-user-select: none;
  border-top: 1px solid #4A5459;
  color: rgba(255,255,255,1);
}
.overlay > div:last-child > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.overlay .button:hover {
  background: rgba(255,255,255,1);
}
/* ********************
  アラート
******************** */
.alert {
  bottom: 10px;
  height: 50px;
  width: 300px;
  left: calc(50% - 300px/2);
  position: fixed;
  display: none;
  opacity: 0;
  z-index: -1;
}
.alert p {
  text-align: center;
  background: #e0edff;
  margin: 5px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #4A5459;
}
.alert.show {
  display: block;
  z-index: 1;
  opacity: 1;
  animation-duration: 0.5s;
  animation-name: fade-in;
}
.alert.hide {
  display: block;
  z-index: -1;
  opacity: 0;
  animation-duration: 0.5s;
  animation-name: fade-out;
}
/* ********************
ボタン
******************** */
.button {
  background: rgba(149,204,255,1);
  border: 3px solid rgba(149,204,255,1);
  color: rgba(255,255,255,1);
  fill: rgba(255,255,255,1);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75em;
  position: relative;
  text-align: center;
  transition: 0.1s all;
}
.button::before,
.button::after {
  box-sizing: border-box;
}
.button:hover {
  background: rgba(149,204,255,.0);
  border: 3px solid rgba(149,204,255,1);
  color:  rgba(149,204,255,1);
  fill: rgba(149,204,255,1);
}
.button-disabled {
  background: rgba(146,158,145,1);
  border: 3px solid rgba(146,158,145,1);
}
.button-disabled:hover {
  background: rgba(146,158,145,.0);
  border: 3px solid rgba(146,158,145,1);
  color: rgba(146,158,145,1);
  fill: rgba(146,158,145,1);
}
/* ********************
  ヘッダー
******************** */
header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background: #4A5459;
  color: rgba(255,255,255,1);
  display: flex;
  font-size: 15px;
  height: 25px;
}
header > div:first-child {
  margin-right: auto;
  padding-left: 5px;
}
header > div:first-child img {
  height: calc(100% - 10px);
  padding: 5px;
  width: auto;
}
header > div:not(:first-child) {
  -webkit-app-region: no-drag;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}
header > div:not(:first-child):not(:last-child):hover {
  background: #5C656A;
}
header > div:last-child:hover {
  background: #E81123;
}
/* ********************
  メイン
******************** */
main {
  overflow-y: scroll;
  height: calc(100vh - 96px);
}
main .button {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main svg {
  width: 32px;
  height: 32px;
}
/* ********************
  フッター
******************** */
footer {
  box-shadow: -4px 0 6px #4A5459;
  -webkit-user-select: none;
  border-top: 1px solid #4A5459;
  color: rgba(255,255,255,1);
  font-size: 15px;
  height: 70px;
}
footer .box {
  display: flex;
  margin: 0px auto;
}
footer .spin:hover svg {
  animation: spin 3.5s linear infinite;
}
footer .button {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .button:first-child,
footer .button:nth-child(2) {
  margin-right: auto;
}
footer .hidden {
  display: none;
}
footer svg {
  width: 32px;
  height: 32px;
}
/* ********************
  アニメーション
******************** */
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes fade-in {
  0% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/* ********************
  フォーカス
******************** */
input[type="text"],
textarea {
  border: 1px solid #aaa;
  outline: none;
  transition: all .3s;
  -webkit-transition: all .3s;
  width: 350px;
}
input[type="text"]:focus,
textarea:focus {
  border: 1px solid rgba(149,204,255,1);
  box-shadow: 0 0 7px rgba(149,204,255,1);
}
.button:focus,
input[type="button"]:focus,
input[type="radio"]:focus {
  box-shadow: 0 0 7px rgba(149,204,255,1);
  outline: none;
}
/* ********************
  その他
******************** */
body {
  color: #333;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.75;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Noto Sans Japanese",
    "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN,
    Arial,
    Meiryo,
    sans-serif;
  font-size: 1em;
}
a {
  color: #C02942;
  font-weight: bold;
  text-decoration:none;
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1em;
  margin: 0;
}
h3:first-letter {
  font-size: 1.5em;
}
hr {
  background: rgba(149,204,255,1);
  border: none;
  height: 3px;
}
p {
  margin: 0;
  padding: 0;
}
.bouyomi-log,
.comment {
  font-size: 0.625em;
}
.emoji {
  height: 20px;
  width: 20px;
  margin: 0 1px;
}