html {
  /*
    overflow-y: scroll;
  */
}
body {
  margin: 0!important;
}
.header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background: #4A5459;
  color: #fff;
  display: flex;
  font-size: 15px;
  height: 25px;
  /*
  padding-top: 4px;
  */
}
.body {
  overflow-y: scroll;
  height: calc(100vh - 25px);
}
.box {
  width: 580px;
  margin: 10px auto;
}
.minimize, .maximize, .close {
  -webkit-app-region: no-drag;
  text-align: center;
  width: 35px;
}
.logo {
  margin-right: auto;
  padding-left: 5px;
}
.logo img {
  height: calc(100% - 10px);
  padding: 5px;
  width: auto;
}
.minimize:hover, .maximize:hover {
  background-color: #5C656A;
}
.close:hover {
  background-color: #E81123;
}
/*
.box-logo {
  display: flex;
  align-items: center;
}
.box-logo img {
  width: 100%;
  height: auto;
}
*/